.quote-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}
